/* You can add global styles to this file, and also import other style files */
:root {
  --utd-orange: #e87500;
  --utd-green: #154734;
  --utd-secondary: #5fe0b7;
  --utd-neutral: #877;
}

body {
  background-image: url('assets/Background.jpeg');
  background-size: cover;
  background-repeat: repeat;
  color: var(--utd-orange)
}

.btn-utd-primary {
  --bs-btn-font-weight: 600;
  --bs-btn-bg: var(--utd-green);
  --bs-btn-hover-color: var(--utd-green);
  --bs-btn-hover-bg: var(--utd-orange);
  --bs-btn-hover-border-color: var(--utd-green);
  --bs-btn-active-color: var(--utd-orange);
  --bs-btn-active-bg: var(--utd-orange);
  --bs-btn-active-border-color: var(--utd-orange);
}

.utd-orange {
  color: var(--utd-orange)
}

.utd-bg-green {
  background-color: var(--utd-green)
}

.utd-secondary {
  color: var(--utd-secondary)
}

.utd-neutral {
  color: var(--utd-neutral)
}
